
<footer class="grid-pad">
  <div class="element">
    <div class="element">
    <span aria-hidden="true" data-icon="&#xe009;"></span>&nbsp;KB Hair Design, 22 Mitchells Centre, Weeford Road, Sutton Coldfield, West Midlands B75 6NA UK</span>
  </div>
  <br>
  <div class="align-center">
    <a href="#nav"><h3>TOP OF PAGE</h3></a>
  </div>
</footer>
