

<div class="footer grid-pad">

<span aria-hidden="true" data-icon="&#xe005;"></span>
<a href="https://plus.google.com/101941718326985778527/">Rate us on Google+</a>
<BR>
<span aria-hidden="true" data-icon="&#xe007;"></span>
<a href="http://www.facebook.com/pages/kb-hair-design/276084019157582">Like us on facebook</a>
<BR>
<span aria-hidden="true" data-icon="&#xe008;"></span>
<a href="http://www.twitter.com/">Follow us on Twitter</a>
<BR>
<span aria-hidden="true" data-icon="&#xe003;"></span>
<a href="mailto:info@kbhair.com" class="email">Email us at info@kbhair.com</a>
<BR>
<span aria-hidden="true" data-icon="&#xe009;"></span>
Find us.


</div> <!-- module -->
