<article>
  <h2 id="ladies">
    <span aria-hidden="true" data-icon="&#xe001;"></span>
    LADIES
  </h2>
  <div class="basic-table">
    <table>
      <thead>
        <tr>
          <th>Styles & Cuts</th>
          <th>Short</th>
          <th>Long</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cut & Blow Dry</td>
          <td>26</td>
          <td>33</td>
        </tr>
        <tr>
          <td>Blow Dry</td>
          <td>14</td>
          <td>16</td>
        </tr>
        <tr>
          <td>Long Hair Work</td>
          <td></td>
          <td>from 25</td>
        </tr>
      </tbody>
    </table>
  </div> <!-- basic-table -->


  <div class='basic-table'>
  <table>
    <thead>
      <tr>
        <th>Hi Lights</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Full Head</td>
        <td>45</td>
      </tr>
      <tr>
        <td>Half Head</td>
        <td>30</td>
      </tr>
    </tbody>
    </table>
  </div> <!-- basic table-->


  <div class='basic-table'>
    <table>
      <thead>
        <tr>
          <th>Colour</th>
          <th></th>
        </tr>
      </thead>
        <tbody>
        <tr>
          <td>Semi Permanent</td>
          <td>20</td>
        </tr>
        <tr>
          <td>Full Head</td>
          <td>26</td>
        </tr>
        <tr>
          <td>Re-growth</td>
          <td>18</td>
        </tr>
        <tr>
          <td>Slices</td>
          <td>5</td>
        </tr>
        </tbody>
    </table>
  </div> <!-- basic table -->

  <div class='basic-table'>
    <table>
      <thead>
        <tr>
          <th>Special</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Bridal Hair</td>
          <td>50</td>
        </tr>
      </tbody>
    </table>
  </div> <!-- basic table -->
</article>