  <div class="module">
        <h2 id="mens">
          <span aria-hidden="true" data-icon="&#xe002;"></span>
          MENS
        </h2>
        <div class="basic-table">
          <table>
            <thead>
              <tr>
                <th>Styles and Cuts</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dry Cut</td>
                <td>12</td>
              </tr>
              <tr>
                <td>Wet Cut</td>
                <td>13</td>
              </tr>
              <tr>
                <td>Blow Dry</td>
                <td>18</td>
              </tr>
            </tbody>
          </table>
        </div> <!-- basic-table -->


        <div class='basic-table'>
        <table>
          <thead>
            <tr>
              <th>Facial</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Cut Throat Shave</td>
              <td>15</td>
            </tr>
            <tr>
              <td>Movember Tidyup</td>
              <td>5</td>
            </tr>
          </tbody>
          </table>
        </div> <!-- basic table-->


        <div class='basic-table'>
          <table>
            <thead>
              <tr>
                <th>Specials</th>
                <th></th>
              </tr>
            </thead>
              <tbody>
              <tr>
                <td>Over 65s: Tues - Wed</td>
                <td>6</td>
              </tr>
              <tr>
                <td>Under 15s: Tues - Fri</td>
                <td>13</td>
              </tr>
              </tbody>
          </table>
        </div> <!-- basic table -->
      </div> <!-- module -->