
      <div class="module">

        <h2 id="OpeningHours">
          <span aria-hidden="true" data-icon="&#xe004;"></span>
          OPENING HOURS
        </h2>

        <div class="basic-table">
          <table class="table-header">
            <thead class="table-header">
              <tr class="table-header">
               <th  >Day</th>
               <th  class="table-header">Times</th>
              </tr>
            </thead>
            <tbody>
              <tr>
               <td>Monday</td>
               <td>Closed</td>
              </tr>
              <tr>
                <td>Tuesday</td>
                <td>10-5</td>
              </tr>
              <tr>
              <td>Wednesday</td>
               <td>10-5</td>
              </tr>
              <tr>
                <td>Thursday</td>
                <td>10-8</td>
              </tr>
              <tr>
                <td>Friday</td>
                <td>10-8</td>
              </tr>
              <tr>
                <td>Saturday</td>
                <td>9-5</td>
              </tr>
              <tr>
                <td>Sunday</td>
                <td>10-5</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> <!-- module -->
