




<P align=center><span class="style3"><%= image_tag "original/banner.png", size: "713x175" %><BR>
    <SPAN class=style2>Experienced stylist required to add to our
existing team<BR>
Apply with CV to </SPAN></span><SPAN class=style2><A
href="mailto:jobs@kbhair.com">jobs@kbhair.com</A></SPAN></P>
<DIV align=center>
<TABLE width=718 height=464 border=1 bgcolor="#FFFFFF">
  <TBODY>
  <TR>
    <TD height=53 colSpan=2>
      <TABLE cellPadding=0 cellSpacing=0 bgcolor="#FFFFFF">
        <COLGROUP>
        <COL width=64></COLGROUP>
        <TBODY>
        <TR height=51>
          <TD height=51 width=709>
            <DIV align=center><SPAN class=style1>*Receive 20% OFF Colours*
            </SPAN></DIV></TD></TR>
        <TR height=41>
          <TD height=41>
            <DIV class=style1 align=center>January/February Midweek Special </DIV></TD></TR>
        <TR height=36>
          <TD height=36>
            <DIV align=center>
            <P><SPAN class=style1>Offer valid Tues, Wed, Thur &amp; Fri
          <BR>
            </SPAN><BR></P></DIV></TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD height=39 width=388>
      <DIV align=center>Ladies Prices </DIV></TD>
    <TD width=314>
      <DIV align=center>Mens Prices </DIV></TD></TR>
  <TR>
    <TD>
      <TABLE cellSpacing=0 cellPadding=0>
        <COLGROUP>
        <COL width=268>
        <COL width=114></COLGROUP>
        <TBODY>
        <TR height=26>
          <TD height=26 width=268>Cut &amp; Blow Dry</TD>
          <TD width=114>£26</TD></TR>
        <TR height=26>
          <TD height=26 width=268>Cut &amp; Blow Dry (Long Hair)</TD>
          <TD width=114>£33</TD></TR>
        <TR height=26>
          <TD height=26 width=268>Blow Dry</TD>
          <TD width=114>£14</TD></TR>
        <TR height=26>
          <TD height=26 width=268>Blow Dry (Long Hair)</TD>
          <TD width=114>£16</TD></TR>
        <TR height=26>
          <TD height=26 width=268>*Full Head Hi Lights*</TD>
          <TD width=114>£45</TD></TR>
        <TR height=26>
          <TD height=26 width=268>*Half Head Hi Lights*</TD>
          <TD width=114>£30</TD></TR>
        <TR height=26>
          <TD height=26 width=268>*Semi Permanent Colour*</TD>
          <TD width=114>£20</TD></TR>
        <TR height=26>
          <TD height=26 width=268>*Full Head Colour*</TD>
          <TD width=114>£26</TD></TR>
        <TR height=26>
          <TD height=26 width=268>*Re Growth*</TD>
          <TD width=114>£18</TD></TR>
        <TR height=26>
          <TD height=26 width=268>*Slices*</TD>
          <TD width=114>From £ 5</TD></TR>
        <TR height=26>
          <TD height=26 width=268>Long Hair Work</TD>
          <TD width=114>From £ 25</TD></TR>
        <TR height=25>
          <TD height=25 width=268>Bridal Hair</TD>
          <TD width=114>£50</TD></TR></TBODY></TABLE></TD>
    <TD>
      <TABLE cellSpacing=0 cellPadding=0>
        <COLGROUP>
        <COL width=268>
        <COL width=114></COLGROUP>
        <TBODY>
        <TR height=26>
          <TD height=26 width=268>Gent’s Hair Cut</TD>
          <TD width=114>£11.50</TD></TR>
        <TR height=51>
          <TD height=51 width=268>Gent’s Hair Cut (Incl. Cut Throat Neck
          Tidy)</TD>
          <TD width=114>£13</TD></TR>
        <TR height=26>
          <TD height=26 width=268><p>Boy’s Hair Cut (Tues - Fri)<br>
          (0-15 Years) </p>
            </TD>
          <TD width=114>£8</TD></TR>
        <TR height=51>
          <TD height=51 width=268>OAP Gent Special (Tues &amp; Weds)</TD>
          <TD width=114>£6</TD></TR>
        <TR height=25>
          <TD height=25 width=268>Gent’s Cut &amp; Blow Dry</TD>
          <TD rowSpan=2 width=114>£18</TD></TR>
        <TR height=26>
          <TD height=26 width=268>(Incl. Hot Towel Treatment)</TD></TR>
        <TR height=25>
          <TD height=25 width=268>Cut Throat Shave</TD>
          <TD rowSpan=2 width=114>£24</TD></TR>
        <TR height=26>
          <TD height=26 width=268>(Incl. Hot Towel Treatment)</TD></TR>
        <TR height=25>
          <TD height=25 width=268>Ultimate Treatment</TD>
          <TD rowSpan=2 width=114>£36</TD></TR>
        <TR height=75>
          <TD height=75 width=268>(Incl. Cut Throat Shave, Hot Towel Treatment
            and Cut &amp; Blow Dry)</TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD colSpan=2>
      <TABLE cellSpacing=0 cellPadding=0 align=center>
        <COLGROUP>
        <COL width=234>
        <COL width=149></COLGROUP>
        <TBODY>
        <TR height=20>
          <TD height=20 width=383 colSpan=2>
            <DIV align=center>Opening Times</DIV></TD></TR>
        <TR height=27>
          <TD height=27>Monday</TD>
          <TD>Closed</TD></TR>
        <TR height=27>
          <TD height=27>Tuesday - Wednesday</TD>
          <TD>10 am - 5 pm</TD></TR>
        <TR height=27>
          <TD height=27>Thursday - Friday</TD>
          <TD>10 am - 8 pm</TD></TR>
        <TR height=27>
          <TD height=27>Saturday</TD>
          <TD>&nbsp;9 am - 5 pm</TD></TR>
        <TR height=27>
          <TD height=27>Sunday</TD>
          <TD>10 am - 5 pm</TD></TR></TBODY></TABLE></TD></TR>
  <TR>
    <TD colSpan=2>
      <DIV align=center>
      <P>Contact Details: kb hair design, <BR>22 Mitchells Centre, Weeford
      Road<BR>Sutton Coldfield, West Midlands B75 6NA UK <BR>Tel: +44 (0)121 323
  2122<BR>Email: <A
      href="mailto:info@kbhair.com">mailto:info@kbhair.com</A></P></DIV></TD></TR></TBODY></TABLE></DIV>
<P>&nbsp;</P></BODY></HTML>
