
<div class="grid">
   <div class="col-1">
     <div class="module">
       <h1>In the beginning</h1>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>


<h2 id="phone">
  <span aria-hidden="true" data-icon="&#xe001;"></span>
  phone
</h2>


<h2 id="scissors">
  <span aria-hidden="true" data-icon="&#xe000;"></span>
  scissors
</h2>


<h2 id="location">
  <span aria-hidden="true" data-icon="&#xe002;"></span>
  location
</h2>


<h2 id="clock">
  <span aria-hidden="true" data-icon="&#xe003;"></span>
  clock
</h2>

        <a href="tel:+441213081439">KBHair: 0121-323-2122</a>
     </div>
   </div>
</div>
