<div class="main-content">
  <div class="grid">
    <div class="col-1">
      <div class="module header">
        <h1>KB</h1>
        <a class="base-button" href="tel:+441213081439"><span aria-hidden="true" data-icon="&#xe00a;"></span>&nbsp;Call KB Hair</a>
      </div> <!-- module -->

      <%= render :partial => 'ladies_services' %>
      <hr>
      <%= render :partial => 'mens_services' %>
      <hr>
      <%= render :partial => 'opening_hours' %>
    </div> <!-- col-1 -->
  </div> <!-- grid -->
</div> <!-- main-content -->
<%= render :partial => 'footer' %>
