
<div class="header">
<h1>KB<a class="classname" href="tel:+441213081439"><span aria-hidden="true" data-icon="&#xe00a;"></span>KBHair: 0121-323-2122</a>
</h1>
</div> <!-- header -->

<div class="main-content">

  <div class="grid">
    <div class="col-1">

      <%= render :partial => 'ladies_services' %>
      <hr>
      <%= render :partial => 'mens_services' %>
      <hr>
      <%= render :partial => 'opening_hours' %>


    </div> <!-- col-1 -->
  </div> <!-- grid -->
</div> <!-- main-content -->
