
<div class="grid">
   <div class="col-1">
     <div class="module">
       <h1>KB</h1>

<h2 id="phone">
  <span aria-hidden="true" data-icon="&#xe001;"></span>
  <a href="tel:+441213081439">KBHair: 0121-323-2122</a>
</h2>

<h2 id="scissors">
  <span aria-hidden="true" data-icon="&#xe000;"></span>
  services
</h2>


<h2 id="location">
  <span aria-hidden="true" data-icon="&#xe002;"></span>
  location
</h2>


<div id="content" class="opening-hours">

  <h2 id="OpeningHours">
    <span aria-hidden="true" data-icon="&#xe003;"></span>
    Opening Hours
  </h2>

  <div class="opening-table">
    <table>
      <tbody>
      <tr>
       <td>Monday</td>
       <td>Closed</td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>10-5</td>
      </tr>
      <tr>
      <td>Wednesday</td>
       <td>10-5</td>
      </tr>
      <tr>
        <td>Thursday</td>
        <td>10-8</td>
      </tr>
      <tr>
        <td>Friday</td>
        <td>10-8</td>
      </tr>
      <tr>
        <td>Saturday</td>
        <td>9-5</td>
      </tr>
      <tr>
        <td>Sunday</td>
        <td>10-5</td>
      </tr>
    </tbody>
  </table>
  </div>
</div> <!-- contenet -->


     </div>
   </div>
</div>
