* {
  @include box-sizing(border-box);
}

$base-color: #343434;
$spot-color: #AD141E;

body {
    font-size:100%;
    font-size: 20px;
    line-height:1.4em; /* 16×1.125=18 */
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: white;
}.bodytext p {
    font-size:0.875em;
}.sidenote {
    font-size:0.75em;
}


@font-face {
  font-family: 'salon';
  src:font-url('salon.eot');
  src:font-url('salon.eot?#iefix') format('embedded-opentype'),
    font-url('salon.woff') format('woff'),
    font-url('salon.ttf') format('truetype'),
    font-url('fsalon.svg#salon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'salon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}


h1 {
  font-family: 'Philosopher', sans-serif;
  font-size: 4em;
  letter-spacing: 3px;
  color: $base-color;
}

h2 {
  font-family: 'Philosopher', sans-serif;
  font-size: 1.6em;
  letter-spacing: 1px;
  font-weight: 300;
  color: adjust-hue( $base-color, 15% )
}

/* TABLE */

thead th {
    padding-bottom: 0.5em;
}

.basic-table table { width: 100%; margin-top: 2%; }
.basic-table tr th:first-child, tr td:first-child {
  text-align: left;
 }
.basic-table tr th, tr td { text-align: right; }
.basic-table tr th, .basic-table tr td { border-bottom: 1px dotted #ccc; }
.basic-table th {
    color: lighten( $base-color, 10% );
}

.basic-table td {
    color: lighten( $base-color, 20% );
}

/* BUTTON */

// .base-button {
//   background-color: $spot-color;
//   border: 1px solid darken($spot-color, 20%);
//   text-shadow: 0 -1px 0 darken($spot-color, 10%);
//   @include box-shadow(inset 0 1px 0 lighten($spot-color, 20%));
// }

.base-button {
  -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
  -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
  box-shadow:inset 0px 1px 0px 0px #f29c93;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
  background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
  background-color:#fe1a00;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d83526;
  display:inline-block;
  color:#ffffff;
  font-size:1.4em;
  font-weight:bold;
  padding:0.3em 1em;
  text-decoration:none;
  text-shadow:1px 1px 0px #b23e35;
} .base-button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
  background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
  background-color:#ce0100;
}/* .base-button:active {
  position:relative;
  top:1px;
}*/



/* HR */


hr {
  font-family: Arial, sans-serif; /* choose the font you like */
  text-align: center; /* horizontal centering */
  line-height: 1px; /* vertical centering */
  height: 1px; /* gap between the lines */
  font-size: 1em; /* choose font size you like */
  border: none;
  border-bottom: 1px solid #aaa;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #eee;
  /* ensure 1px gap between borders */
  @include box-sizing(content-box);
}
/* http://thenounproject.com/using-symbols/
http://thenounproject.com/noun/vase/#icon-No5787
*/

hr:after {
  font-family: salon;
  font-size: 2.2em;
  content: "\e000"; /* section sign */
  display: inline; /* for vertical centering and background knockout */
  background-color: #fff; /* same as background color */
  color: #aaa;
  padding: 0 0.5em; /* size of background color knockout */
}


/* opera doesn't render correctly. hide section sign */
x:-o-prefocus, hr:after {
  content: "";
}




