

.header {
  width:  90%;
  margin: 0 auto
}

.header a {
  float: right;
  display: inline-block;
  position: relative;
    top: 18px;
  left: 10px;
  background: #555;
}

.header h1 {
  // position: relative;
  float: left;
  top: 18px;
  left: 10px;
}

.hero {
  float: right;
  top: 0.5em;
  position: absolute;
}
.sidebar {}

.main-content
{
width: 90%;
margin: 0 auto
}

.module {
  padding-top:  7%;
  padding-bottom:  7%;
}