<div id="outer-wrap">
<div id="inner-wrap">

<a class="nav-btn banner" id="nav-toggle-btn" href="#nav">Navigation</a>
<br>
<header id="top" role="banner" class="no-flick">
  <div class="block">
    <h1>ABOUT</h1>
  <div>
</header>

<%= render :partial => 'shared/navigation' %>

<div id="main" role="main">
  <div class="grid">
    <div class="col-1">
      <hr>
      <p>How you see yourself<p>
      <p>History<p>
    </div> <!-- col-1 -->
  </div> <!-- grid -->
</div> <!-- main-content -->


</div>
<!--/#inner-wrap-->
</div>
<!--/#outer-wrap-->

<%= javascript_include_tag("footer/footer") %>